stages:
  - deploy

# [백엔드 배포]
deploy-be:
  stage: deploy
  image: docker:stable

  tags:
    - ec2
  rules:
    - if: $CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "cicd"'
      changes:
        - be/**/*

  before_script:
    - apk add --no-cache openjdk21
    - chmod +x be/gradlew
  
  script:
    - echo "Backend 배포 시작..."
    - cd be
    - ./gradlew test
    - ./gradlew bootBuildImage -x test