stages:
  - deploy

deploy-be:
  stage: deploy
  image: eclipse-temurin:21-jdk-alpine

  tags:
    - aws-ec2
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "cicd"'
      changes:
        - be/**/*

  before_script:
    - apk update
    - apk add --no-cache docker docker-cli-compose
    - chmod +x be/gradlew
  
  script:
    - echo "Backend 이미지 빌드..."
    - cd be
    - ./gradlew test
    - ./gradlew bootBuildImage -x test

    - echo "배포 시작"
    - cd ..
    - docker compose up -d --force-recreate backend
    - docker image prune -f