stages:
  - deploy

# [백엔드 배포]
deploy-be:
  stage: deploy
  image: eclipse-temurin:21-jdk-alpine

  tags:
    - aws-ec2
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "cicd"'
      changes:
        - be/**/*

  before_script:
    - apk update
    - apk add --no-cache docker
    - chmod +x be/gradlew
  
  script:
    - echo "Backend 배포 시작..."
    - cd be
    - ./gradlew test
    - ./gradlew bootBuildImage -x test